<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.hatewait">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.VIBRATE " />
    <uses-permission android:name="android.permission.WAKE_LOCK " />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".storeinfo.ChangePasswordActivity1" />
        <activity android:name=".storeinfo.ChangePasswordActivity2" />
        <activity android:name=".storeinfo.SettingStampCoupon" />
        <activity android:name=".member.StoreList" />
        <activity android:name=".storeinfo.StoreInfoSettingsActivity" />
        <activity
                android:name=".member.ManageStampCouponActivity"
                android:label="@string/title_activity_manage_stamp_coupon"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".store.VisitorListActivity" />
        <activity android:name=".memberinfo.CustomerInfoUpdate" />
        <activity android:name=".storeinfo.StoreInfoUpdate2" />
        <activity android:name=".signup.FindPassWordActivity1" />
        <activity android:name=".signup.FindPassWordActivity2" />
        <activity android:name=".map.KakaoMapActivity" />
        <activity android:name=".signup.StoreSignUp1" />
        <activity android:name=".signup.StoreSignUp2" />
        <activity android:name=".signup.StoreSignUp3" />
        <activity android:name=".signup.StoreSignUp4" />
        <activity android:name=".signup.CustomerSignUp1" />
        <activity android:name=".signup.CustomerSignUp2" />
        <activity android:name=".signup.CustomerSignUp3" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_main_logo" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
        <meta-data
                android:name="com.naver.maps.map.CLIENT_ID"
                android:value="4vosrez4z5" />
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="c1538521a84419adf8583cdec695f6a6" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
                android:name=".storeinfo.StoreNameChangeDialog"
                tools:ignore="Instantiatable" />
        <activity android:name=".storeinfo.StoreInfoUpdate" />
        <activity android:name=".member.CustomerMenu" />
        <activity android:name=".store.StoreMenu" />
        <activity android:name=".login.LoginRegisterViewPagerActivity" />
        <activity android:name=".register.RegisterCheck" />
        <activity android:name=".login.MainActivity" />
        <activity android:name=".store.StoreWaitingList" />
        <activity android:name=".storeinfo.BusinessHourPick" />

        <activity android:name=".discretescroll.ShopActivity"/>

        <activity
                android:name=".Splash"
                android:noHistory="true"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>